body {
   background-image: url('./images/34.jpg');
   background-repeat: no-repeat;
   background-size: cover;  
   /* position: absolute;       */
}     
 
.col-md-6 {
  margin-top: 20px;
  margin-right: 20px;
  margin-inline-start: 20px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  
}

.topnav {
  overflow: hidden;
  background-color: rgb(182, 174, 174);
  padding-top: 10px;
  font-size: xx-large;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(158, 197, 158);
  color: black;
}
.row{
  margin-top: 80px;
  margin-left: 80px;
}
.col-md-7{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: olivedrab;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container1{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  float: left;
} 

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
  
.fa {
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  float: right;
}
.download{
  padding: 10px 10px;
  margin: 10px 5px;
  margin-right: 25px;
  float: right;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
 
}
.fa-github{
  color: black;
  background: rgb(201, 199, 199);
}